.contact {
  width: 100%;
  height: 100vh;
  background-color: rgb(8, 8, 145);
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    width: 70%;
    height: 80vh;
    background-color: white;
    border-radius: 0px 200px 0px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > h1 {
      text-transform: uppercase;
      border-bottom: 7px solid black;
      font: 900 2rem "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }

    > form {
      margin: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > div {
        margin: 1.5rem;
        > label {
          margin-right: 1rem;
        }
        > input {
          padding: 0.6rem;
          text-align: center;
          width: 30rem;
          border-radius: 5px;
          outline: none;
          letter-spacing: 1px;
        }
      }
    }
    > button {
      padding: 0.7rem;
      background-color: rgb(76, 84, 234);
      color: white;
      border-radius: 5px;
      letter-spacing: 1px;

      &:hover {
        opacity: (0.8);
        cursor: pointer;
      }
    }
  }
}
